.form {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 10px;
  gap: 10px;
  
}
.input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.complete_on{
  opacity: 1;
}
.complete_off{
  opacity: 0;
}