.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  gap: 5px;
}

.span {
  width: 33%;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
}

.filters {
  display: flex;
  background-color: darkgray;
  border-radius: 30px;

}

.delete_all {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.btn_off,
.btn_on,
.btn_clear {
  display: flex;
  width: max-content;
  align-items: center;
  text-align: center;
  border: solid 1px;
  border-radius: 30px;
  border-color: transparent;
  background-color: transparent;
  padding: 1px 5px;
  color: black;
  transition: 0.3s;
}

.btn_off {
  background-color: transparent;
  color: white;
  
}

.btn_on {
  background-color: white;
  
}

.btn_off:hover,
.btn_clear:hover,
.filters:hover .btn_on:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.filters:hover .btn_on {
  background-color: transparent;
  color: white;
}