.form {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.list {
  width: 100%;
  list-style: none;
  font-size: 20px;
  padding: 5px 1px;
}

.box {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.btn {
  opacity: 0;
  color: brown;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.list:hover .btn {
  opacity: 1;
}

.rename {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}

.name_acive,
.name_done {
  word-break: break-word;
}

.name_active,
.name_done,
.rename {
  border-bottom: solid 3px darkgray;
  padding: 5px 0;
  width: 100%;
}
.name_done {
  text-decoration: line-through;
  color: grey;
}